---
---

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h4 {
 padding: 0;
 margin: 10px 5px 5px 1px;
}

h5 {
 padding: 1;
 margin: 0;
}

$grorange       : rgb(255,105,  5);
$grdarkorange   : rgb(240,105,  5);
$grgrey         : rgb(125,125,125);
$grlightgrey    : rgb(239,239,239);

/* unvisited link */
a:link {
    color: $grorange;
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: $grgrey;
}

/* mouse over link */
a:hover {
    text-decoration: underline;
    color: $grdarkorange;
}

/* selected link */
a:active {
    text-decoration: underline;
    color: $grorange;
}

#top, .content {
    width: 75%;
    left: 12.5%;
    position: relative;
}

#top {
    width: 74.5%;
    background-color: $grlightgrey;
    height: 150px;
    font:  Helvetica, sans-serif;
    border: 3px solid $grlightgrey;
    border-radius: 10px;
    box-shadow: 1px 1px 2px $grgrey;
}

.content {
    top: 20px;
}

#gr-logo {
    width: 150px;
    position: absolute;
    left: 0px;
}

#cgran {
    font: 28px Helvetica, sans-serif;
    position: absolute;
    left: 150px;
    line-height: 28px;
}

#navigation {
    position: absolute;
    right: 0px;
}

#links {
    position: absolute;
    right: 0px;
    text-align: right;
    font: 14pt Helvetica, sans-serif;
    position: absolute;
    top: 0px;
    width: 150px;
    line-height: 15pt;
}

#search {
    position: absolute;
    right: 0px;
    font: 14pt Helvetica, sans-serif;
    position: absolute;
    top: 120px;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border: 2px solid $grgrey;
    border-radius: 9px;
    box-shadow: 1px 1px 2px $grgrey;
}

td {
    border: 1px solid #CCCCCC;
}

tr:nth-child(even) {
    background: $grlightgrey;
}

tr:nth-child(odd) {
    background: white;
}

.input-group {
    padding: 10px;
    position: relative;
    left: -10px;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px $grorange;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $grorange;
}

.input-label {
}

.input-box {
    width: 22em;
    left: 0px;
    position: relative;
    display: inline-block;
}

.input-help {
    position: relative;
    display: inline-block;
}

input.button {
    font: 14pt Helvetica, sans-serif;
    background-color: $grdarkorange;
    color: $grlightgrey;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 0 white;
    border: 1px solid $grdarkorange;
}

#block_list {
    width: 20%;
    position: absolute;
}

#block_detail {
    position: absolute;
    left: 35em;
}

.block_name {
    font: 14pt Helvetica, sans-serif;
}
