<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Comprehensive GNU Radio Archive</title>
    <link rel="stylesheet" href="http://vanilla.ceat.okstate.edu/cgran/stylesheet.css" type="text/css">

</head>

<body>
    <div id="top">
        <div id="gr-logo">
            <img src="http://vanilla.ceat.okstate.edu/cgran/gr-icon-small.png">
        </div>

        <div id="cgran">
            Comprehensive <br>
            <b><font color="#FF6905">GNU</font><br>
            <font color="#7D7D7D">Radio</font><br></b>
            Archive<br>
            Network
        </div>

        <div id="navigation">
            <div id="links">
                <a href="/cgran/index.html">Home</a> <br>
                <a href="/cgran/about">About</a> <br>
                <a href="/cgran/submit">Submit Module</a> <br>
                <a href="/cgit">Browse Source</a> <br>
                <a href="http://gnuradio.org/redmine/projects/gnuradio/wiki">GNU Radio</a> <br>
            </div>
            <div id="search">
                <form>
                <input type="text" name="search_query" placeholder="Search Modules"></input>
                </form>
            </div>
        </div>
    </div>


    <div class="content">
        {{ content }}
    </div>
</body>

</html>
