<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Comprehensive GNU Radio Archive</title>
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>

</head>

<body>
    <div id="top">
        <div id="gr-logo">
            <img src="/../gr-icon-small.png">
        </div>

        <div id="cgran">
            Comprehensive <br>
            <b><font color="#FF6905">GNU</font><br>
            <font color="#7D7D7D">Radio</font><br></b>
            Archive<br>
            Network
        </div>

        <div id="navigation">
            <div id="links">
                <a href="/index.html">Home</a> <br>
                <a href="/about">About</a> <br>
                <a href="/cgit.html">Browse Source</a> <br>
                <a href="http://gnuradio.org/redmine/projects/gnuradio/wiki">GNU Radio</a> <br>
            </div>
            <div id="search">
                <form>
                <input type="text" name="search_query" placeholder="Search Modules"></input>
            </div>
        </div>
    </div>


    <div class="content">
    <h2>{{ page.title }}</h2>
    Maintainer: {{page.author}}
    <hr>
    {{ page.description }}
    <h3>Git repository</h3>
    Official author repo: <a href={{ page.repo }}>{{page.repo}}</a><br>
    CGRAN mirror: <a href={{ page.mirror }}>{{page.mirror}}</a>
    <h3>Current Status</h3>
    <h3>Block List</h3>
    <p>Warning: This is highly experimental and results may be inaccurate</p>
    {{page.status}}<br>
    <div id="blocks_table"></div>
    </div>
</body>

    <script> 
      $("#blocks_table").load("/blocks/{{page.title}}.html"); 
    </script>
</html>
