<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Comprehensive GNU Radio Archive</title>
    <link rel="stylesheet" href="http://vanilla.ceat.okstate.edu/cgran/stylesheet.css" type="text/css">

</head>

<body>
    <div id="top">
        <div id="gr-logo">
            <img src="http://vanilla.ceat.okstate.edu/cgran/gr-icon-small.png">
        </div>

        <div id="cgran">
            Comprehensive <br>
            <b><font color="#FF6905">GNU</font><br>
            <font color="#7D7D7D">Radio</font><br></b>
            Archive<br>
            Network
        </div>

        <div id="navigation">
            <div id="links">
                <a href="/index.html">Home</a> <br>
                <a href="/about.html">About</a> <br>
                <a href="/cgit.html">Browse Source</a> <br>
                <a href="http://gnuradio.org/redmine/projects/gnuradio/wiki">GNU Radio</a> <br>
            </div>
            <div id="search">
                <form>
                <input type="text" name="search_query" placeholder="Search Modules"></input>
            </div>
        </div>
    </div>


    <div class="content">
    <h2>{{ page.title }}</h2>
    Maintainer: {{page.author}}
    <hr>
    {{ page.description }}
    <h3>Git repository</h3>
    Official author repo: <a href={{ page.repo }}>{{page.repo}}</a><br>
    CGRAN mirror: <a href={{ page.mirror }}>{{page.mirror}}</a>
    <h3>Current Status</h3>
    {{page.status}}<br>
    Last commit: (this info comes from git mirror)
    <h3>Author README</h3>
    Pull that from git repo in a rakefil
    </div>
</body>

</html>
